body {
  background-color: #d7ca8e;
  font-family: 'Raleway', Helvetica, 'Cambria', serif;
    /*Flexbox*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-btn-container {
  position: relative;
  top: 40px;
  /* atur jarak dari atas */
  z-index: 2;
}

.btn-primary {
  background-color: #6c6142;
  border: none;
  margin-bottom: 1000px;
  color: rgb(255, 255, 255);
  border-radius: 8px;
  padding: 8px 16px;
  font-weight: 500;
  transition: 0.3s;
  margin-left: 20px;
}

.btn-primary:hover {
  background-color: #000000;
  color: rgb(255, 255, 255);
}

h1 {
  font-family: 'Quicksand';
}

.cv-page {
  background-color: white;
  width: 800px;
  height: 800px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 40px;
  position: relative;
  z-index: 1;
  margin-top: 180px;
  margin-bottom: 30px;
    height: 110vh;
}